{% extends 'base.html.twig' %}

{% block content %}     <!--banner -->

    <!-- //banner -->
    <!-- About-one -->
    <section class="diet " id="about">
      <div class="container">
	        <div class="row effcet-about">
	          <div class="col-lg-12 jst-about py-lg-5 pt-md-5 pt-sm-4 pt-3" >
	            <h2 class="mb-lg-5 mb-lg-4 mb-3">Nos services</h2>
	        </div>
	          <div class="col-lg-4 about-States-list" >
	            <img src="{{ asset('assets/front/images/pdm.jpg')}}" alt="" class="img-fluid">
                  <div class="mt-3 outs_more-buttn">
                    <div class="col-lg-6">
                    	<a href="#" data-toggle="modal" data-target="#exampleModalLive">En savoir plus</a>
                    </div>
                  </div>
	          </div>
	          <div class="col-lg-4 about-States-list" >
	            <img src="{{ asset('assets/front/images/training.jpg')}}" alt="" class="img-fluid">
                  <div class="mt-3 outs_more-buttn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalLive">En savoir plus</a>
                  </div>
	          </div>
	          <div class="col-lg-4 about-States-list" >
	            <img src="{{ asset('assets/front/images/diet.jpg')}}" alt="" class="img-fluid" style="max-width:115%">
                  <div class="mt-3 outs_more-buttn">
                    <a href="#" data-toggle="modal" data-target="#exampleModalLive">En savoir plus</a>
                  </div>
	          </div>
	     	 </div>
  			</div>
  			<hr>
    </section>
    <!-- //About-one -->
    <!--service-->	
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3">Nos Services</h3>
        <div class="row top-service pb-lg-4 pb-md-3 pb-2">
          <div class="col-lg-8 col-md-8 service-agile-info-left"  data-aos="fade-right"
            data-aos-offset="250"
            data-aos-easing="ease-in-sine">
            <h4 class="mb-lg-4 mb-3">Perte de poids</h4>
            <p>Débutant, confirmé, sédentaire ou sportif </p>
            <div class="mt-3 outs_more-buttn">
              <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ser-icon text-center">
            <div class="service-icon-w3layouts">
              <span class="far fa-thumbs-up"></span>
            </div>
          </div>
        </div>
        <div class=" my-lg-5 my-md-4 my-3 row mid-service">
          <div class="col-lg-4 col-md-4 ser-icon text-center">
            <div class="service-icon-w3layouts move-right">
              <span class="fab fa-apple"></span>
            </div>
          </div>
          <div class="col-lg-8 col-md-8 service-agile-info-left" data-aos="fade-left"
            data-aos-offset="200"
            data-aos-easing="ease-in-sine">
            <h4 class="mb-lg-4 mb-3">Prise de muscle</h4>
            <p>Homme ou femme</p>
            <div class="mt-3 outs_more-buttn">
              <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
            </div>
          </div>
        </div>
        <div class="row bottom-service pt-lg-4 pt-md-3 pt-2" >
          <div class="col-lg-8 col-md-8 service-agile-info-left" data-aos="fade-right"
            data-aos-offset="150"
            data-aos-easing="ease-in-sine">
            <h4 class="mb-lg-4 mb-3">Bodybuilding</h4>
            <p>Prépration à la compétition, homme ou femme, toute catégorie, men's physique, classic physique, bodybylding, bikini ..</p>
            <div class="mt-3 outs_more-buttn">
              <a href="#" data-toggle="modal" data-target="#exampleModalLive">Read More</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 ser-icon text-center">
            <div class="service-icon-w3layouts">
              <span class="fas fa-bicycle"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//service-->
    <!--clients-->
    <section class="client py-lg-4 py-md-3 py-sm-3 py-3" id="client">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
        <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Le Coach</h3>
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="row client-slider-slide">
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Sam Will</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="{{ asset('assets/front/images/c1.jpg')}}" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Jack Son</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="{{ asset('assets/front/images/c4.jpg')}}" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row client-slider-slide">
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Jilly Son</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="{{ asset('assets/front/images/c3.jpg')}}" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Nike Deo</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="{{ asset('assets/front/images/c2.jpg')}}" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="row client-slider-slide">
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class=" mt-3">Sam Will</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="{{ asset('assets/front/images/c4.jpg')}}" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 w3layouts-txt-says">
                  <div class="clients-color-agile text-center">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="clients-txt-agile">
                      <h4 class="mt-3">Jack Will</h4>
                    </div>
                    <div class="img-position mt-3">
                      <img src="{{ asset('assets/front/images/c2.jpg')}}" alt="" class="img-fluid">
                    </div >
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--<div class="custom-navigation">
          <a href="#" class="flex-prev">Prev</a>
          <div class="custom-controls-container"></div>
          <a href="#" class="flex-next">Next</a>-->
      </div>
    </section>
    <!--//clients-->
    <!-- team -->
    <section class="team  py-lg-4 py-md-3 py-sm-3 py-3" id="team">
      <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center clr mb-lg-5 mb-md-4 mb-sm-4 mb-3">Our Traines</h3>
        <div class="row text-center ">
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-down"
            data-aos-duration="2500">
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-up"
            data-aos-duration="2000">
            <div class="team-agile-group">
              <img src="{{ asset('assets/front/images/t3.jpg')}}" alt="" class="image-fluid">
              <h4 class="mt-3 mb-2">Rose Will 
              </h4>
              <span class="wls-client-title">Weight Trainer</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                Lorem ipsum 
              </p>
              <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 news-img" data-aos="fade-down"
            data-aos-duration="1500">
            <div class="team-agile-group">
              <img src="{{ asset('assets/front/images/t4.jpg')}}" alt="" class="image-fluid">
              <h4 class="mt-3 mb-2">Max Will 
              </h4>
              <span class="wls-client-title">Body Builder</span>
              <p class="mt-3">Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                Lorem ipsum 
              </p>
              <div class="icons-footer mt-lg-4 mt-md-3 mt-3">
                <ul>
                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                  <li><a href="#"><span class="fas fa-envelope"></span></a></li>
                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About-one -->
    <section class="about " id="about">
      <div class="container">
        <div class="row effcet-about">
          <div class="col-lg-7 jst-about py-lg-5 pt-md-5 pt-sm-4 pt-3" data-aos="fade-right">
            <h2 class="mb-lg-5 mb-lg-4 mb-3">Sport et bien être</h2>
            <div class="agile-about-para">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
            <div class="mt-lg-3 mt-2 agile-about-para">
              <p>incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            </div>
          </div>
          <div class="col-lg-5 about-States-list" data-aos="fade-left">
            <img src="{{ asset('assets/front/images/ab1.png')}}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>
    <!--//team -->
    <!--portfolio -->


{% endblock %}
